.card{
    position: relative;
}

.card img{
    width: 100px;
    height: 100px;
    display: block;
    border: 3px solid #fff;
    border-radius: 8px;
}

.card .front{
    transform: rotateX(90deg);
    position: absolute;
}

.flipped .front {
    transform: rotateX(0deg);
}