body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #284c25;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
